@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

*{
}
html{
    height: 100%;
    max-height: 100%;
}


body{
    height: inherit;
    max-height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}

input:required{
    appearance: none;
}


ul{
    list-style-type: none

}

.title{
    font-family: Norse-Bold;
}
.left-section{
    min-width: 30vw;
    overflow: hidden;
    text-align: center;
}

img{
    max-width: 30vw;
    min-width: 100%;
    min-height: 100%;
}


.right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 70vw;
    background-color: aliceblue;
    height: auto;
}


.right-side-box{
    height: 32vh;
    padding: 4vw;
    font-size: 1.2rem;
}

button{
    background-color: aliceblue;
}

.middle-box{
    padding-left: 4vw;
    height: 40vh;
    box-shadow:  10px 5px 5px black;
    background-color: beige;
    width: inherit;

}
/* How does sizing work in a div? in regards to like no wrap, wrap, do divs resize with the content? */
.list-of-inputs{
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;

}

button{
    appearance: none;
    width: 10vw;
    height: 5vh;

}


ul{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: inherit;
}

li{
    margin: 10px;
}

input{
    margin: 3px;
    appearance: none;
}


h1.title{
    color: white;
    font-size: 3rem;

}
.title-wrapper{
    width: 30vw;
    background-color: black;
    color: white;
    position: absolute;
    margin-top: 20vh;
    opacity: calc(85%);
}

p{
    position: absolute;
    text-align: center;
    margin-left: 15px;
    bottom: 0;
    color: white;
}


a, a:visited{
    color: green;
    text-decoration: none;

}

/* Need to stop making specific classes just for small rules like this, not using cascade well? */

input{
    border-radius: 300px;
    appearance: none;
}

li{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
input:focus{
    border-style: solid;
    border-color: brown;
    
    background-color: lightcyan;
}